body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; 
}

.container button {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.container button:hover {
    background-color: #45a049;
}

.container p {
    margin-top: 10px;
}

.container a {
    color: #0000EE;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}